.hero {
  &__wrapper {
    @include breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__left {
    h1 {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
    margin-bottom: 4rem;

    .btn {
      border: none;
      padding: 0 1.25rem;
      margin-top: 2rem;
      color: $clr-primary;
    }

    p {
      margin-left: 8px;
    }

    @include breakpoint-up(md) {
      width: 45%;
    }
  }

  &__right {
    @include breakpoint-up(md) {
      width: 50%;
    }
  }
}
